
.dashboard-container {
  width: 100%;
}

/* Navbar */
.navbar {
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 34px;
  height: 34px;
  background: #2563eb;
  color: white;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

.brand-name {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
}

/* Navbar Actions */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  border: none;
  background: transparent;
  color: #374151;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-btn .link {
text-decoration: none;
color: #414141;
}
.nav-btn:hover {
  color: #111827;
}

/* Profile */
.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-name {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.profile-email {
  font-size: 12px;
  color: #6b7280;
}
.profile-role {
  font-size: 12px;
  font-weight: bold;
  color: #cf0d0d;
}

.userPicture {
  width: 30px;
  border: 1px solid rgb(182, 180, 180);
  padding: 1px;
  border-radius: 100%;
}
