/* ActionButtons.css */

.action-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: #f5f5f5;
  border-radius: 10px;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.icon {
  font-size: 16px;
}

/* Upload button */
.upload-btn {
  background: #1f5eff;
  color: white;
}

/* Create directory button */
.create-btn {
  background: #0aa63f;
  color: white;
}
